<html>

  <head>
    <meta charset='utf-8' />
    <title>SAAS - Ecommerce TS API</title>
  </head>

  <body>
    {{message}}

    <br /><br />
    PROTO DEBUG :
    <br /><br />
    Order ID :
    {{orderId}}

    <br /><br />

    Order status :
    {{orderStatus}}
  </body>

</html>