<p>Hey,</p>
<p>Votre commande {{ orderId }} est expédiée.</p>
<ul>
    <li>Date de livraison estimée : {{ details.expectedDeliveryDate }} </li>
    <li>Transporteur : {{ details.deliverer }}</li>
    <li>Numéro de suivi : {{details.trackingNumber }}</li>
</ul>
<br>
<p>Merci pour votre confiance et à bientôt !</p>
<p>L'équipe des Zététiciens</p>